<%= simple_form_for(@event,html: { multipart: true }) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.input :name %>
    <%= f.input :event_at %><p> Format: 20YY-MM-DD </p>
    <%= f.input :entry_fee , :required => true, label: 'Entry Fee', prompt: true, input_html: { class: 'options' } do %>  
      <%= f.select :entry_fee, entry_fee_html_options, id: "entry_fee", style: "width: 410px"  %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>