<!DOCTYPE html>
<html>
<head>
  <title>Ticketing</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application","http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js","https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="hmenu">
  <%= link_to('Home', events_path) %>
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
<%= yield %>

</body>
</html>
